@using Erebor.Models
@using Erebor.Serializers
@model List<Student>;
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Студенты</h1>
	<table class="table mt-4">
		<thead class="thead-dark bg-primary text-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Имя</th>
				<th scope="col">Фамилия</th>
				<th scope="col">Возраст</th>
				<th scope="col">E-mail</th>
				<th scope="col">Номер телефона</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var student in Model)
			{
				<tr>
					<th scope="row">@student.Id</th>
					<td>@student.Name</td>
					<td>@student.Surname</td>
					<td>@student.Age</td>
					<td>@student.Email</td>
					<td>@student.PhoneNumber</td>
					<td>@Html.ActionLink("Изменить", "StudentEdit", student)</td>
					<td>@Html.ActionLink("Удалить", "StudentDelete", student)</td>
					<td>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#report-@student.Id">Отчёт</button>

						<div class="modal fade" id="report-@student.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">Выберете тип отчёта</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Выберете тип отчеёта чтобы его скачать:
									</div>
									<div class="modal-footer">
										@Html.ActionLink("Json", "GetReport", new { name = student.Name, format = Format.Json }, new { @class = "btn btn-primary p-2"})
										@Html.ActionLink("XML", "GetReport", new { name = student.Name, format = Format.XML }, new { @class = "btn btn-primary p-2"})
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="band-list text-light">
		<a class="btn btn-outline-primary" asp-action="StudentCreate">Добавить нового студента</a>
	</div>

</div>
